@model hola_mundo.Models.Usuario

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>show</title>
</head>
<body>
    <h1>@Model.nombre</h1>
    <h2>@Model.apellidos</h2>
    <h3>@Model.edad</h3>
</body>
</html>
